@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import forms.CreateTournamentForm.Data
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import views.html.helper.FieldConstructor
@this()(implicit assets: AssetsFinder)
@(createTournamentForm: Form[Data],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup])
@implicitFieldConstructor = @{FieldConstructor(helper.twInlineFieldConstructor.f)}

@main("Crea un torneo: Discord + Challonge",None,socialProviders){
    @helper.form(action = routes.TournamentController.post(),Symbol("class") -> "w-full max-w-sm") {
            @helper.CSRF.formField
            @helper.twInputText(createTournamentForm("discordGuildID"),
                Symbol("_placeholder") -> "Discord Server ID",
                Symbol("_label") -> "ID del servidor de Discord")
            @helper.twInputText(createTournamentForm("challongeID"),
                Symbol("_placeholder") -> "Challonge URL ID",
                Symbol("_label") -> "Challonge URL ID")

            @helper.twInputText(createTournamentForm("discordChannelID"),
                Symbol("_placeholder") -> "Discord Channel Replay ID",
                Symbol("_label") -> "Replays Channel ID")

            @helper.twInputText(createTournamentForm("channelID"),
                Symbol("_placeholder") -> "Channel inscription",
                Symbol("_label") -> "Channel inscription")

            @helper.twInputText(createTournamentForm("messageID"),
                Symbol("_placeholder") -> "Message ID inscription",
                Symbol("_label") -> "Message ID inscription")


            <div class="md:flex md:items-center">
                <div class="md:w-1/3"></div>
                <div class="md:w-2/3">
                    <button
                    type="submit" value="submit"
                    class="flex shadow bg-primary-500 hover:bg-primary-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                    >

                        @messages("tournament.create.submit")
                        <svg class="block h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor">
                            <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
                        </svg>
                    </button>
                </div>
            </div>

        }
}
