@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@this()(implicit assets: AssetsFinder)
@(user: Option[models.User] = None,socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup])

@main("Pagina inicial",user,socialProviders){
    <div id="home-page-id">
        <img src="@controllers.routes.Assets.versioned("images/fondo.jpg")" id="fondoimage" alt="fondo"/>
        <img src="@controllers.routes.Assets.versioned("images/DeathFate_Title.png")" id="deathfatelogo" alt="DeathFateLogo"/>


        <div id="socialmediaid">
            <a href="https://www.facebook.com/JuanDeathfate" class="fa fa-facebook " id="facebooklink"></a>
            <a href="https://www.youtube.com/channel/UCZ7wN9kEDmRFhQ7MAotRIAQ" class="fa fa-youtube " id="youtubelink"></a>
            <a href="https://www.twitch.tv/deathfate89" class="fa fa-twitch " id="twitchlink"></a>
        </div>

        <p id="nombreUsuarioTextID">
            @user.flatMap(_.fullName).getOrElse("StarCraft")
        </p>
    </div>

}
