@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import models.Match
@(matchReplay: Match, modalID: String, isAdmin: Boolean)(implicit request: RequestHeader, messages: Messages,assets: AssetsFinder)

<div class="modal fade" id=@modalID tabindex="-1" aria-labelledby="@{modalID+"label"}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="@{modalID+"label"}">Replays en este match</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>Nombre original</th>
                        <th>Habilitado</th>
                        @if(isAdmin) {
                            <th>Quitar</th>
                        }

                        <th>Descargar</th>


                    </tr>
                    @for(m <- matchReplay.replaysAttached){
                        <tr>
                            <td>@m.nombreOriginal</td>
                            <td>
                                <i class="material-icons">
                                @if(m.enabled){
                                    check
                                }else{
                                    cancel
                                }
                                </i>
                            </td>
                            @if(isAdmin) {
                                @if(m.enabled) {
                                    <td>
                                        <button type="button" class="btn btn-danger btn-small" data-toggle="modal" data-target=@{"#"+modalID+m.matchID.toString}>
                                            <i class="material-icons left">delete</i>
                                        </button>
                                    </td>
                                }else{
                                    <td>
                                        <span><i class="material-icons left">delete</i></span>
                                    </td>
                                }
                            }

                            <td>
                                <a class="waves-effect waves-light btn-small" href=@controllers.routes.ReplayMatchController.downloadReplay(m.replayID,m.nombreOriginal)>
                                    <i class="material-icons left">cloud_download</i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@for(m <- matchReplay.replaysAttached){
    <div class="modal fade alert-danger" id="@{modalID+m.matchID.toString}" tabindex="-1" aria-labelledby="@{modalID+m.matchID.toString+"confirm-label"}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@{modalID+m.matchID.toString+"confirm-label"}" >¿Estás seguro?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                ¿Estás seguro de eliminar @{m.nombreOriginal}?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-small btn-danger" href=@controllers.routes.ReplayMatchController.deleteReplay(m.replayID)>
                        Sí, ELIMINAR</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}
