@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import controllers.AssetsFinder
@import views.html.helper._

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import shared.models.DiscordDiscriminator
@(title: String,user: Option[models.User] = None, discriminator: Option[DiscordDiscriminator] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, menues: Seq[MenuGroup], socialProviders: SocialProviderRegistry)

<!doctype html>
<html lang="en">
    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link @{CSPNonce.attr} rel="shortcut icon" type="image/png" href="@controllers.routes.Assets.versioned("images/favicon.png")">
        <title>@title</title>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script @{CSPNonce.attr} src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script @{CSPNonce.attr} src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link @{CSPNonce.attr} rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("styles/styles.css")">
        <link @{CSPNonce.attr} rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("styles/main.css")">

        <script @{CSPNonce.attr} src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@@v2.8.1/dist/alpine.min.js" defer> </script>
        @scalajs.html.scripts("client", controllers.routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null,CSPNonce.attr)
        <script @{CSPNonce.attr} src="@routes.JavaScriptRouter.javascriptRoutes()"></script>


    </head>
    <body class="bg-gradient-to-r from-primary-300 via-primary-100 to-primary-300">
        @navbar(user,discriminator)

        <div class="container-fluid">
            @request.flash.get("error").map { msg =>
                <div class="alert-box danger-context" role="alert">
                    ¡Error!: @msg
                </div>
            }
            @request.flash.get("success").map { msg =>
                <div class="alert-box info-context" role="alert">
                    !Hecho! @msg
                </div>
            }
        </div>


        @content

        <form method="post" id="myForm" action="#">   @helper.CSRF.formField  </form>

        <script @{CSPNonce.attr} >Main.init();</script>

        </body>
</html>
