
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@this()(implicit assets: AssetsFinder)
@(user: models.User,matches: Seq[MatchDiscord],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages,menues: Seq[MenuGroup])

@infoBuilder(m: MatchDiscord) = {
@listmatches.showReplayInfoButton(m) {
    @listreplays(m.convertToMatch(),
        WithAdmin.isModeradorID(user.loginInfo.providerKey),
        canDownload = true)
} {
    @Html("")
}
}
@uploadBuilder(m: MatchDiscord) = {

    @listmatches.showUploadButton(m){ @uploadfile(m)}

}
@main("Partidas del torneo",Some(user),socialProviders){
  @listmatches.showDslMatches(matches,showTournamentColumn = true)(infoBuilder)(uploadBuilder)
}
