@import views.html.helper._
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@this()(implicit assets: AssetsFinder)
@(user: Option[models.User],menues: Seq[MenuGroup],matches: Seq[MatchDiscord],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages)
@main("Partidas del torneo",user,menues,socialProviders){

    <div id="container-matches-finder"></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Round</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Replays</th>
            </tr>
        </thead>
        <tbody>
        @for(m <- matches){
            <tr id="@m.matchPK.challongeMatchID">
                <td>@m.round</td>
                <td>@m.userSmurf1.discordUser.userName
                    @for(smurfDefined <- m.userSmurf1.matchSmurf){
                        <span class="badge rounded-pill bg-primary">@smurfDefined.smurf </span>
                    }
                </td>
                <td>@m.userSmurf2.discordUser.userName
                @for(smurfDefined <- m.userSmurf2.matchSmurf){
                    <span class="badge rounded-pill bg-primary">@smurfDefined.smurf </span>
                }
                </td>
                <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@{s"#modal_list_${m.matchPK.challongeMatchID}"}">
                        <span class="material-icons right">replay</span>
                    </button>
                </td>

            </tr>



        }
        </tbody>
    </table>


    @for(m <- matches){
        @listreplayssimple(m.convertToMatch(),s"modal_list_${m.matchPK.challongeMatchID}")
    }

    <script @{CSPNonce.attr}>   MatchFinder.init("container-matches-finder"); </script>


}
