
@this()(implicit assets: AssetsFinder)
@(user: Option[models.User],menues: Seq[MenuGroup],matches: Seq[MatchDiscord])(implicit request: RequestHeader, messages: Messages)
@main("Partidas del torneo",user,menues){

    <div id="makePairsID"></div>
    <table>
        <thead>
            <tr>
                <th>Round</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Replays</th>
            </tr>
        </thead>
        <tbody>
        @for(m <- matches){
            <tr>
                <td>@m.round</td>
                <td>@m.userSmurf1.discordUser.userName
                    @for(smurfDefined <- m.userSmurf1.matchSmurf){
                        <span class="badge">@smurfDefined.smurf </span>
                    }
                </td>
                <td>@m.userSmurf2.discordUser.userName
                @for(smurfDefined <- m.userSmurf2.matchSmurf){
                    <span class="badge">@smurfDefined.smurf </span>
                }
                </td>
                <td>
                    <button data-target=@{s"modal_list_${m.matchPK.challongeMatchID}"} class="btn waves-effect waves-light modal-trigger">Replays
                    <i class="material-icons right">play_arrow</i>
                    </button>
                </td>

            </tr>



        }
        </tbody>
    </table>


    @for(m <- matches){
        @listreplayssimple(m.convertToMatch(),s"modal_list_${m.matchPK.challongeMatchID}")
    }


}