
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import shared.models.DiscordDiscriminator
@this()(implicit assets: AssetsFinder)
@(user: models.User,matches: Seq[MatchDiscord],discriminator: Option[DiscordDiscriminator])(implicit request: RequestHeader, messages: Messages,menues: Seq[MenuGroup],socialProviders: SocialProviderRegistry)

@infoBuilder(m: MatchDiscord) = {
@listmatches.showReplayInfoButton(m) {
    @listreplays(m.convertToMatch(),
        WithAdmin.isModeradorID(user.loginInfo.providerKey),
        canDownload = true)
} {
    @Html("")
}
}
@uploadBuilder(m: MatchDiscord) = {

    @listmatches.showUploadButton(m){ @uploadfile(m)}

}
@main("Partidas del torneo", Some(user), discriminator){
  @listmatches.showDslMatches(matches,showTournamentColumn = true)(infoBuilder)(uploadBuilder)
}
