@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import upickle.default._
@import shared.UtilParser
@import shared.utils.BasicComparableByLabel

@import views.html.helper._
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@this()(implicit assets: AssetsFinder)
@(tournament: Tournament, first: Seq[BasicComparableByLabel], second: Seq[BasicComparableByLabel],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages,menues: Seq[MenuGroup])
@main(tournament.tournamentName,None,socialProviders){

    <div id="makePairsID"></div>
    <script
        @{CSPNonce.attr} >
    ts = new dslclient.RelateChaDisUsers("@{UtilParser.safeJson2String(write(first))}","@{UtilParser.safeJson2String(write(second))}","makePairsID");
            ts.showPanel();
    </script>

}
