@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@(menus: Seq[MenuGroup])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
@for(menuGroup <- menus) {
    <li class="bold"><a class="collapsible-header waves-effect waves-yellow"><i class="material-icons">layers</i>
        @menuGroup.tag</a>
        <div class="collapsible-body">
            <ul>
            @for(menuAction <- menuGroup.submenus) {
                <li><a href="@menuAction.url" class="sidenav-cela-element"><i class="material-icons">label_outline</i>
                    @menuAction.tag</a>
                </li>
            }
            </ul>
        </div>
    </li>
}

