@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@(user: Option[models.User] = None,menues: Seq[MenuGroup],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="@controllers.routes.Assets.versioned("images/favicon.png")" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav  mr-auto mb-2 mb-lg-0">

                @for(menu <- menues){
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="@menu.tag.filter(_.isLetterOrDigit).mkString("")" role="button" data-toggle="dropdown" aria-expanded="false">
                        @menu.tag
                        </a>
                        <div class="dropdown-menu" aria-labelledby="@menu.tag.filter(_.isLetterOrDigit).mkString("")">
                            @for(action <- menu.primaryActions()){
                              <a class="dropdown-item" href="@action.url">@action.tag</a>
                            }
                            @if(menu.hasSecondaryActions){
                                <div class="dropdown-divider"></div>
                                @for(action <- menu.secondaryActions()){
                                    <a class="dropdown-item" href="@action.url">@action.tag</a>
                                }
                            }
                        </div>
                    </li>
                }



            </ul>
            <ul class="navbar-nav">
                @user.fold{
                    @if(socialProviders.providers.nonEmpty) {
                            @for(p <- socialProviders.providers) {
                               <li><a class="nav-link" href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)">Inicia sesión con @p.id.capitalize </a></li>
                            }
                    }
                }{ u =>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                            <span >Bienvenido @u.fullName.getOrElse("campeón")
                            <img src="@u.avatarURL.getOrElse(assets.path("images/silhouette.png"))" height="40px" alt="avatar" />
                            </span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="@controllers.teamsystem.routes.TeamManagerController.showMyTeams()">Mis equipos</a></li>
                            <li><a class="dropdown-item" href="@controllers.routes.Application.signOut()">Salir</a></li>
                        </ul>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>
