
@this()(implicit assets: AssetsFinder)
@(user: Option[models.User],torneos: Seq[TournamentMenu],smurfsToUpdate: Seq[UserSmurf])(implicit request: RequestHeader, messages: Messages)
@main("Update Smurfs",user,torneos){
    <ul class="collection with-header">
    @for(smurftou <- smurfsToUpdate){

            <li class="collection-header collection-header-discorduser">@smurftou.discordUser.userName</li>

            @for(matches <- smurftou.notCheckedSmurf){
                <li class="collection-item">
                    <div>
                        @matches.smurf
                        <a class="secondary-content waves-effect waves-light btn-small"><i class="material-icons left">check_circle</i>Aceptar</a>
                        <a class="secondary-content waves-effect waves-light btn-small"><i class="material-icons left">cancel</i>Cancelar</a>
                    </div>
                </li>
            }
    }
    </ul>


}