@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import views.util.TournamentSeriesUtil
@this()(implicit assets: AssetsFinder)
@(tournamentSeries: Seq[TournamentSeries],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup])
@main("Torneos",None,socialProviders){
    <div class="tournaments-container">
    @for(ts <- tournamentSeries) {
        <div class="@TournamentSeriesUtil.getCSSClass(ts)">
        @ts.name
        </div>
    }
    </div>
}
