@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import views.util.TournamentSeriesUtil
@this()(implicit assets: AssetsFinder)
@(tournamentSeries: Seq[TournamentSeriesFilled],socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup])
@main("Torneos",None,socialProviders){
    <div class="tournaments-container">
    @for(ts <- tournamentSeries) {
        @defining(TournamentSeriesUtil.getTournamentResource(ts)) { tr =>

            <div class="@tr.cssClass">
                <div class="tournament-display">
                    <img src="@assets.path(tr.logo)" class="tournament-logo" alt="tournament-logo">
                    <div class="tournament-winners">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Season</th>
                                <th>1st</th>
                                <th class="column-priority-low">2nd</th>
                                <th class="column-priority-low">3rd</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(season <- ts.seasons){
                                <tr>
                                    <td>@season.season</td>
                                    @for(i <- 1 to 3){
                                        <td class=@{if (i>1) "column-priority-low" else ""}>@season.winners.find(_._1 == i).map(_._2).map(_.lastUserName).getOrElse("-")</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                    </div>

                </div>

            </div>
        }

    }
    </div>
}@import play.twirl.api.TwirlFeatureImports.defining
