@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import helper._
@(m: MatchDiscord)(implicit request: RequestHeader, messages: Messages,assets: AssetsFinder)

@form(routes.ReplayMatchController.addReplayToMatch(m.matchPK.challongeID,m.matchPK.challongeMatchID,m.querying.discordUser.discordID,m.rival.discordUser.discordID),
    Symbol("enctype") -> "multipart/form-data") {
    @CSRF.formField

    <div class="file-field input-field"
    id=@{s"replay_file_field_${m.matchPK.challongeMatchID}"}
    data-player1=@{m.querying.discordUser.userName}
    data-player2=@{m.rival.discordUser.userName}
    data-discord1=@{m.querying.discordUser.discordID}
    data-discord2=@{m.rival.discordUser.discordID}
    >

    </div>
}

