@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import helper._
@(m: MatchDiscord)(implicit request: RequestHeader, messages: Messages,assets: AssetsFinder)


@form(routes.ReplayMatchController.addReplayToMatchByAdmin(m.matchPK.challongeID,m.matchPK.challongeMatchID,m.userSmurf1.discordUser.discordID,m.userSmurf2.discordUser.discordID),
    Symbol("enctype") -> "multipart/form-data",
    Symbol("id") -> s"form_${m.matchPK.challongeMatchID}")  {
    @CSRF.formField

    <div class="file-field input-field"
    id=@{s"admin_replay_file_field_${m.matchPK.challongeMatchID}"}
    data-player1=@{m.userSmurf1.discordUser.userName}
    data-player2=@{m.userSmurf2.discordUser.userName}
    data-discord1=@{m.userSmurf1.discordUser.discordID}
    data-discord2=@{m.userSmurf2.discordUser.discordID}
    data-formid=@{s"form_${m.matchPK.challongeMatchID}"}

    >

    </div>
}
