@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import models.TournamentMenu
@this()(implicit assets: AssetsFinder)
@(user: models.User,torneos: Seq[TournamentMenu])(implicit request: RequestHeader, messages: Messages)
@main("Participante",Some(user),torneos) {
    <h2>Hola</h2>
    <div class="row">
        <hr class="col-md-12" />
        <h4 class="col-md-8">@messages("welcome.signed.in")</h4>
        <div class="col-md-4 text-right">
            <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" height="40px" />
        </div>
        <hr class="col-md-12" />
    </div>
    <div class="row data">
        <div class="col-md-12">
            <div class="row">
                <p class="col-md-6"><strong>@messages("discord.nick")
                    :</strong></p><p class="col-md-6">@user.fullName.getOrElse("Sin usuario?")</p>
            </div>
            <div class="row">
                <p class="col-md-6"><strong>@messages("discord.providerKey")
                    :</strong></p><p class="col-md-6">@user.loginInfo.providerKey</p>
            </div>
        </div>
    </div>
}