@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import views.html.helper._
@import shared.models.DiscordDiscriminator
@(user: User, discriminator: Option[DiscordDiscriminator])(implicit request: RequestHeader, messages: Messages,  assetsFinder: AssetsFinder,menues: Seq[MenuGroup], socialProviders: SocialProviderRegistry)
@main("Upload replay",Some(user), discriminator){
  <div id="replays-teams-upload"></div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Selecciona una o varias replays</label>
        <input class="form-control" type="file" id="input-file-team-replay" multiple>
    </div>
    <script @{CSPNonce.attr} type="text/javascript">
        TeamsReplay.init("replays-teams-upload","input-file-team-replay");
    </script>
}
