@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import models.teamsystem.TeamWithUsers
@import views.html.teamsystem.showteam
@import models.teamsystem.RequestJoinWithUsers
@import views.html.teamsystem.showrequestpending
@(user: Option[models.User], teams: Seq[TeamWithUsers],userCanRequest: Boolean,requestsPending: Seq[RequestJoinWithUsers], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup], assetsFinder: AssetsFinder)
@main("Equipos registrados",user,socialProviders){
    @if(user.isDefined && requestsPending.nonEmpty) {
        <div id="requests-pending">
            @showrequestpending(requestsPending)
        </div>
    }
    <div id="teams-list">
        @for(team <- teams.sortBy(_.points).reverse){
          @showteam(team,userCanRequest,"team-container")
        }
    </div>
}
