@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import models.teamsystem.Team
@import models.teamsystem.TeamWithUsers
@import views.html.teamsystem.teamMemberLogged
@import models.teamsystem.Invitation
@(team: TeamWithUsers)(implicit request: RequestHeader, messages: Messages,  assetsFinder: AssetsFinder)
<div class="card text-center team-container">
    <div class="card-header team-name">
        @team.teamName
    </div>
    <div class="card-body">
        @teamMemberLogged(team.principal)
    </div>
    <ul class="list-group list-group-flush">
        @for(official <- team.officials){
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @{official.username}
            <span class="badge bg-primary rounded-pill">#@{official.discriminator}</span>
            </li>
        }
    </ul>
    <ul class="list-group">
    @for(suplente <- team.suplentes){
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @{suplente.username}
        <span class="badge bg-primary rounded-pill">#@{suplente.discriminator}</span>
        </li>
    }
    </ul>

</div>
