@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import views.html.helper._
@(user: User)(implicit request: RequestHeader, messages: Messages,  assetsFinder: AssetsFinder,menues: Seq[MenuGroup], socialProviders: SocialProviderRegistry)
@main("Upload replay",Some(user),socialProviders){
    <button id="btn-upload-team-replay">Select replays</button>
  <div id="replays-teams-upload"></div>
    <script @{CSPNonce.attr} type="text/javascript">
        TeamsReplay.init("btn-upload-team-replay","replays-teams-upload");
    </script>
}
