@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import models.teamsystem.Team
@import models.teamsystem.TeamWithUsers
@import views.html.teamsystem.teamMemberLogged
@import models.teamsystem.Invitation
@(team: TeamWithUsers, userCanRequest: Boolean, classContainer: String)(implicit request: RequestHeader, messages: Messages,  assetsFinder: AssetsFinder)
<div class="@classContainer">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">

        <img class="w-full p-10" src="@team.logoUrl" alt="team logo">
        <div class="px-6 py-4 ">
            <div class="team-name">
            <a class="" href="@controllers.teamsystem.routes.TeamManagerController.showTeam(team.teamID.id)">@team.teamName</a> [@team.points]
            </div>
            <div class="team-leader mb-6 font-bold">
            @teamMemberLogged(team.principal)
            </div>
            <ul class="list-disco divide-y divide-primary-500">
                @for(official <- team.officials.filterNot(_.discordID == team.principal.discordID) ++ team.suplentes){
                    <li>
                        <span class="font-semibold object-left">@{official.username}</span>
                        <span class="font-thin object-right">#@{official.discriminator}</span>
                    </li>
                }
            </ul>
            @if(userCanRequest) {
                <div class="px-6 pt-4 pb-2">
                @helper.form(controllers.teamsystem.routes.RequestController.doRequest(team.teamID.id)) {
                    @helper.CSRF.formField
                    <button class="btn-continue" type="submit">Solicitar unirme al equipo</button>
                }
                </div>
            }
        </div>



    </div>
</div>
