@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder


@import views.html.teamsystem.teamMemberLogged
@import models.teamsystem.InvitationWithUsers
@(invitation: InvitationWithUsers)(implicit request: RequestHeader, messages: Messages,  assetsFinder: AssetsFinder)
<div class="invitation-box">

    <ul class="invitation-message">
        @teamMemberLogged(invitation.from) te ha invitado para formar parte del equipo <b>@invitation.teamName</b>,
        ¿aceptas?
    </ul>
    @helper.form(controllers.teamsystem.routes.TeamManagerController.acceptInvitation(invitation.invitationID.id)){
        @helper.CSRF.formField

        <button class="btn btn-primary" type="submit">Aceptar</button>
    }
    @helper.form(controllers.teamsystem.routes.TeamManagerController.removeInvitation(invitation.invitationID.id)){
        @helper.CSRF.formField
        <button class="btn btn-danger" type="submit">Cancelar</button>
    }

</div>
