@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry

@import models.teamsystem.TeamWithUsers
@import views.html.teamsystem.showmyteam
@import models.teamsystem.InvitationMeta
@import shared.models.DiscordID
@import models.teamsystem.InvitationWithUsers
@import views.html.teamsystem.showinvitation
@import models.teamsystem.RequestJoinWithUsers
@import models.teamsystem.PendingSmurfWithUser
@import views.html.teamsystem.showPendingSmurf
@(user: models.User,discordID: DiscordID, teams: Seq[(TeamWithUsers,Seq[RequestJoinWithUsers])],invitations: Seq[InvitationWithUsers],pendingSmurfs: Seq[PendingSmurfWithUser],inviteForm: Form[InvitationMeta],createForm: Form[String],queryForm: Form[String], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup], assetsFinder: AssetsFinder)
@main("My teams",Some(user),socialProviders){
    @if(!(teams.map(_._1).exists(_.officials.map(_.discordID).contains(discordID)) || teams.map(_._1).exists(_.principal.discordID == discordID))){
        <div id="create-team-box">

            <p id="create-team-mensaje">Puedes crear tu equipo</p>
        @helper.form(controllers.teamsystem.routes.TeamManagerController.createTeam(),
            Symbol("id") -> "form-create-team"){
            @helper.CSRF.formField
            @helper.inputText(createForm("teamName"),
                Symbol("id") -> "input-team-name-create",
                Symbol("_label") -> "Nombre del equipo nuevo:")

            <button class="btn btn-primary" type="submit" id="submit-team-create">Crear equipo</button>
        }
            <p id="search-team-mensaje">
                o buscar uno en
                <a href="@controllers.teamsystem.routes.TeamManagerController.showAllTeams()"> listar todos los equipos</a>
            </p>
        </div>
    }
    @for(invitation <- invitations){
        @showinvitation(invitation)
    }
    @for(pendingSmurf <- pendingSmurfs){
        @showPendingSmurf(pendingSmurf)
    }
    <div id="my-teams-container">
        <div id="my-teams-list">
            @for((team,requests) <- teams){
              @showmyteam(discordID, team,requests, inviteForm,queryForm)
            }
        </div>
    </div>
}
