main {
    padding-top: 0;
}

.container-cela-form{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.container-cela-form-auth{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}
.closebtnAlert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.collection-header-discorduser.collection-header {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}


.match-hidden{
    display: none;
}
.match-shown{
    display: table-row;
}



/* icons
*/
.fa {

    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitch {
    background: #a5109d;
    color: white;
}



#home-page-id{
    height: calc(100vh - 80px);
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 50vh 1fr auto;
    justify-items: center;
    align-items: center;
}

#socialmediaid{
    grid-row: 3/4;
    grid-column: 2/3;
}
#nombreUsuarioTextID {
    font-family: atomicAge, "Times New Roman", serif;
    color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4;

}


#container-matches-finder{
    margin-top: 1rem;
}

#container-tournament-info{
    text-align: center;
    padding-top: 1rem;
}

#title-tournament-name{
    color: #495057;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

#container-tournament-links{
}

.tournament-links{
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.order-gi{
    border: 2px #1b1e21;
    margin: 5px;
    padding: 5px;
}
.time-gi{
    border: 2px #1b1e21;
    margin: 5px;
    padding: 5px;
}
.name-gi{
    border: 2px #1b1e21;
    margin: 5px;
    padding: 5px;

}
.row-gi{
    display: flex;
    flex-direction: row;
}

/**
TOURNAMENT DISTRIBUTION
 */

.tournaments-container{
    display: grid;
    grid-template-rows: 10vh repeat(6,max-content);
    grid-template-columns: 100vw;
    grid-template-areas:
                "L"
                "S"
                "O"
                "P"
                "B"
                "D"
                "C";
}
#deathfatelogo{
    grid-area: L;
    max-height: 100%;
    place-self: center;

}
.column-priority-low{
    display: none;
}
@media (min-width: 992px) {
    .tournaments-container {
        grid-template-rows: 10vh repeat(4,max-content);
        grid-template-columns: 10vw 20vw 20vw 10vw 30vw 10vw;
        grid-template-areas:
                "L L L L L L"
                "S S S S O O"
                "S S S S P P"
                "S S S S B B"
                "D D D C C C";
    }

}
@media(min-width: 1200px){
    .column-priority-low{
        display: table-cell;
    }
}

.tournament-display{
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr max-content 1fr;
    grid-template-columns: 2fr 10fr 20fr;
    grid-template-areas:
       ". . ."
       ". Logo Winners"
       ". . .";

}
.tournament-logo{
    display: block;
    grid-area: Logo;
    max-width: 100%;
    max-height: 100%;
    transition: transform .1s;
}
.tournament-logo:hover{
    transform: scale(1.2);
    background: radial-gradient(closest-side,#ffffff, #ffffff00);

}
.tournament-winners{
    grid-area: Winners;
}
.tournament-series{
    margin: 12px;
    border: 2px solid;
    border-radius: 45px 12px;
    padding: 10px;
    transition: 0.5s;
}
.tournament-series:hover{
    background-color: rgba(111,66,193,.3);
}

.DSSL-SERIES{
    grid-area: S;
    border-color: darkmagenta;
}
.DSL-SERIES{
    grid-area: D;
    border-color: MediumOrchid;
}
.DCSL-SERIES{
    grid-area: C;
    border-color: MediumPurple;
}
.DSL-ORO-SERIES{
    grid-area: O;
    border-color: GOLD;
}
.DSL-PLATA-SERIES{
    grid-area: P;
    border-color: SILVER;
}
.DSL-BRONCE-SERIES{
    grid-area: B;
    border-color: DARKGOLDENROD;
}
.OTHER-SERIES{
}

.team-name{
    font-family: "Times New Roman", serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2;
}

#form-select-invite-member{
    display: flex;
    flex-direction: column;
}

#invitation-box{
    display: grid;
    grid-template-areas:
            "member status"
            "invite invite";
}
#members-option-id{
    grid-area: member;
}

#members-status-id{
    grid-area: status;
}

#members-invite-id{
    grid-area: invite;
}
dd.info{
    display: none;
}
#find-members{
    display: grid;
    grid-template-areas: "input search";
    grid-template-columns: 4fr 1fr;
    align-items: center;
}
#input-query{
    grid-area: input;
}
#search-member-button{
    grid-area: search;
}

#find-members dl {
    display: flex;
    flex-direction: column;


}
form dl {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.my-team-box{
    display: grid;
    grid-template-columns: 1fr 100vw 1fr;
    grid-template-areas:
            ". myteam ."
            ". config ."
            ". requests ."
            ". teamquit .";
}
.team-requests-pending{
    grid-area: requests;
}
.my-team-container{
    grid-area: myteam;
    margin: 25px 0px;
}
.my-team-configuration{
    grid-area: config;
}
.team-quit{
    grid-area: teamquit;
}


#create-team-box{
    display: grid;
    grid-template-areas: ". mensaje ."
    ". formarea ."
    ". search .";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20px;
    justify-content: center;
    align-content: center
}
#form-create-team{
    grid-area: formarea;
}
#create-team-mensaje{
    grid-area: mensaje;
}
#search-team-mensaje{
    grid-area: search;
}
#my-teams-container{
    display: grid;
    grid-template-columns: 1fr 100vw 1fr;
    grid-template-areas: ". myteams .";
}
#my-teams-list{
    grid-area: myteams;
}

#teams-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px;
    align-items: stretch;
}
#requests-pending{
    margin: 40px;
}

@media(min-width: 600px) {
    #create-team-box{
        grid-template-columns: 1fr 600px 1fr;
    }
}
@media(min-width: 600px){

    .my-team-box{
        grid-template-columns: 1fr 600px 1fr;
    }
    #my-teams-container{
        grid-template-columns: 1fr 600px 1fr;
    }
    .my-team-configuration{
        display: grid;
        grid-template-areas:
                ". members ."
                ". invite ."
                ". invitations ."
                ". smurfspending .";
        grid-template-columns: 1fr 600px 1fr;
        margin-bottom: 40px;
    }
    #find-members{
        grid-area: members;
    }
    #invitation-box{
        grid-area: invite;
    }
    #invitation-results-id{
        grid-area: invitations;
    }

    #invitation-box{
        grid-template-areas: "member status invite ";
        grid-template-columns: 2fr 2fr 1fr;
        align-items: center;
    }
}

.smurfs-pending-box{
    grid-area: smurfspending;
}
.pending-smurf-box{
    display: grid;
    grid-template-areas:
            "m m m m m m m"
            ". y . . . n .";
    grid-template-columns:1fr auto 1fr 1fr 1fr auto 1fr;
    border: 2px solid;
    border-radius: 26px 8px;
    align-items: center;
    justify-items: center;
}
.pending-message{
    grid-area: m;
}
.smurfyesbutton{
    grid-area: y;
}
.smurfnobutton{
    grid-area: n;
}
