.container-cela-form{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.container-cela-form-auth{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
}
.closebtnAlert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.collection-header-discorduser.collection-header {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}


.match-hidden{
    display: none;
}
.match-shown{
    display: table-row;
}



/* icons
*/
.fa {

    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitch {
    background: #a5109d;
    color: white;
}



#home-page-id{
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: 50vh 1fr auto;
    justify-items: center;
}

#socialmediaid{
    grid-row: 3/4;
    grid-column: 2/3;
}
#nombreUsuarioTextID {
    font-family: atomicAge, "Times New Roman", serif;
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4;

}
#deathfatelogo{
    grid-row: 1/2;
    grid-column: 1/4;
}





