@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import modules.winnersgeneration.WinnersInformation
@import views.html.helper._
@import modules.winnersgeneration.GatheredInformation
@(user: models.User, winnerForm: Form[WinnersInformation], gatheredInfo: GatheredInformation,socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, menues: Seq[MenuGroup],assets: AssetsFinder)

@main("Ganadores",Some(user),socialProviders) {
  @helper.form(action = controllers.winnersgeneration.routes.WinnersGenerationController.view){
    @helper.select(winnerForm("tournamentID"),options = gatheredInfo.tournaments.map(t => (t.challongeID.toString, t.tournamentName)))
  }
}
